<a href="https://colab.research.google.com/github/lucprosa/dataeng-basic-course/blob/main/spark_streaming/examples/example_3_api_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up PySpark

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('Test streaming').getOrCreate()
sc = spark.sparkContext

In [13]:
import datetime
datetime.datetime.now().strftime("%Y%m%d%H%M%S")

'20241128002111'

In [72]:
!rm -rf /content/landing
!mkdir -p /content/landing

In [74]:
import requests
from pyspark.sql.types import *
import json
import datetime
import asyncio

async def ingest_from_api(url: str, table: str, schema: StructType = None):
  response = requests.get(url)
  timestamp = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
  if response.status_code == 200:
    data = response.json()
    with open(f"/content/landing/{table}_{int(timestamp)}.json", "w") as f:
        json.dump(data, f)

async def producer(loop: int, interval_time: int):
  for i in range(loop):
    await ingest_from_api("https://api.carrismetropolitana.pt/vehicles", "vehicles")
    await ingest_from_api("https://api.carrismetropolitana.pt/lines", "lines")
    await asyncio.sleep(interval_time)

async def main():
  asyncio.create_task(producer(10, 30))

await main()

In [75]:
from pyspark.sql.types import *

vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)])

stream = spark.readStream.format("json").schema(vehicle_schema).load("/content/landing/vehicles*")

dedup = stream.dropDuplicates()

query = (dedup.writeStream.format("memory").option("queryName", "vehicles").start())

IllegalArgumentException: Cannot start query with name vehicles as a query with that name is already active in this SparkSession

In [71]:
query.stop()

In [85]:
spark.sql("select count(1) from vehicles").show()

+--------+
|count(1)|
+--------+
|     181|
+--------+

In [84]:
spark.read.format("json").schema(vehicle_schema).load("/content/landing/vehicles*").count()

184

In [70]:
spark.sql("select * from vehicles").show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
|bearing|            block_id|current_status|      id|      lat|line_id|      lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
|    212|             1080-11| IN_TRANSIT_TO|  42|263| 38.90714|   2303|-9.051232|  2303_0_1|  2303_0|            SCHEDULED|        1206|4.1666665| 180131|2024-11-28 00:46:44|2303_0_1|1|1|2430...|
|    170|       ESC_DU_EU2058|    STOPPED_AT| 43|2121|38.695377|   3708|-9.178453|  3708_0_2|  3708_0|            SCHEDULED|      EU2207| 16.11111| 060019|2024-11-28 00:47:57|3708_0_2_2430_245...|
|    106|             1705-11| IN_TRANSIT_TO| 42|2507| 38.90367|   2750|-9.126852|  2750_0_2|  2750_0|            SCHEDULED|        1769|22.777779| 070974|2024-11-28 00:47:59|2750_0_2|1|1|2400...|
|    170|       ESC_DU_EU1066| IN_TRANSIT_TO| 43|2373|38.655773|   3509|-9.154205|  3509_0_1|  3509_0|            SCHEDULED|      EU1185|5.2777777| 020683|2024-11-28 00:48:08|3509_0_1_2430_245...|
|      0|           1_1227-11|    STOPPED_AT| 41|1157| 38.76952|   1219|-9.295204|  1219_0_1|  1219_0|            SCHEDULED|        1259|      0.0| 170459|2024-11-28 00:47:58|1219_0_1_2430_245...|
|     28|           1_1057-11| IN_TRANSIT_TO| 41|1161| 38.75961|   1709|-9.192323|  1709_0_2|  1709_0|            SCHEDULED|        1137| 8.333333| 060069|2024-11-28 00:47:52|1709_0_2_2430_245...|
|    130|20241127-64010050...| IN_TRANSIT_TO|44|12589|38.652836|   4600|-9.005774|  4600_0_2|  4600_0|            SCHEDULED|121930234560|6.9444447| 090205|2024-11-28 00:48:04|4600_0_2|2700|243...|
|      0|             1809-11|    STOPPED_AT| 42|2519|38.814137|   2769|-9.161433|  2769_1_1|  2769_1|            SCHEDULED|        1840|      0.0| 071270|2024-11-28 00:46:46|2769_1_1|1|1|2500...|
|    198|       ESC_DU_EU1015| IN_TRANSIT_TO| 43|2391|38.620045|   3509|-9.082926|  3509_0_2|  3509_0|            SCHEDULED|      EU1161|11.944445| 140270|2024-11-28 00:47:48|3509_0_2_2430_245...|
|    202|20241127-64010003...| IN_TRANSIT_TO|44|12666|38.725597|   4702|-8.938367|  4702_0_2|  4702_0|            SCHEDULED|123440234560|27.777779| 060005|2024-11-28 00:48:01|4702_0_2|2700|243...|
|    253|20241127-64010006...|   INCOMING_AT|44|12654| 38.68374|   4701|-8.953631|  4701_0_1|  4701_0|            SCHEDULED|123550234560|13.611111| 100417|2024-11-28 00:48:09|4701_0_1|2700|243...|
|     20|                1060| IN_TRANSIT_TO| 42|1060|38.936165|   2751|-9.304981|  2751_1_2|  2751_1|            SCHEDULED|       39743| 8.055555| 080346|2024-11-28 00:47:46|2751_1_2|130|1|23...|
|    337|             1040-11| IN_TRANSIT_TO| 42|2332|38.766636|   2713|-9.157628|  2713_1_1|  2713_1|            SCHEDULED|        1209|10.555555| 060159|2024-11-28 00:47:44|2713_1_1|1|1|2445...|
|     54|           1_1341-11| IN_TRANSIT_TO| 41|1397|38.738754|   1622|-9.339438|  1622_0_2|  1622_0|            SCHEDULED|        1362| 6.111111| 050116|2024-11-28 00:47:47|1622_0_2_2430_245...|
|     28|           1_1411-11|   INCOMING_AT| 41|1358|38.704914|   1101|-9.240546|  1101_0_1|  1101_0|            SCHEDULED|        1502|      7.5| 120069|2024-11-28 00:47:38|1101_0_1_2400_242...|
|    341|             1830-11| IN_TRANSIT_TO| 42|2579|38.813644|   2772|-9.180512|  2772_3_2|  2772_3|            SCHEDULED|        1830|11.666667| 070323|2024-11-28 00:47:19|2772_3_2|1|1|2445...|
|     93|             91_1925| IN_TRANSIT_TO| 41|1154| 38.69614|   1998|-9.368416|  1998_1_2|  1998_1|            SCHEDULED|        1925|7.7777777| 050048|2024-11-28 00:47:57|1998_1_2_2430_245...|
|     22|             1158-11|   INCOMING_AT|  42|292|38.833195|   2730|-9.097212|  2730_0_1|  2730_0|            SCHEDULED|        1231|      0.0| 071284|2024-11-28 00:47:59|2730_0_1|1|1|2420...|
|    263|             91_1928|    STOPPED_AT| 41|1319|38.687492|   1998|-9.336349|  1998_0_2|  1998_0|            SCHEDULED|        1928|      0.0| 050050|2024-11-28 00:48:00|1998_0_2_2430_245...|
|    157|       ESC_DU_EU2044|    STOPPED_AT| 43|2043|38.643047|   3023|-9.232582|  3023_0_2|  3023_0|            SCHEDULED|      EU2228|      0.0| 020703|2024-11-28 00:47:47|3023_0_2_2400_242...|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
only showing top 20 rows

In [ ]:
# question
# aggregate by 5 minute window time
# count vehicles by status (INCOMING, STOPPED, INTRANSIT)

In [ ]:
# question 2
# enrich latitude and longitude
# join dataframes